html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    min-width: 320px;
    height: 100%;
}
*{
  margin: 0;
  padding:0;
}
input:focus, button:focus, select:focus {
  outline: none;
}
h1 {
      font-size: 16px;
      font-weight: normal;
      margin: 0;
      display: inline-block;
}
.h2 {
      font-size: 20px;
      padding: 27px 0 27px 18px;
      margin: 0 0 34px;
      border-bottom: 1px solid #e5e5e5;
}
#black-bar {
     background-color: #00122f;
     color: white;
     padding: 0px 0px;
      font-size: 16px;
      height: 55px;
}
#black-bar-content {
      padding: 18px 20px;
}
#black-bar h1{
      float: left;
}
#black-bar a {
    color:white;
}
.fixed-container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
   position: relative;
}
#header {
      height: 100px;
      box-sizing: border-box;
      padding-top: 40px;
}
#flex-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#datetime {
    float: right;
}


#mobile-nav {
  width: 20px;
  height: 16px;
  background-image: url('img/mobile-nav.png');
  background-repeat: no-repeat;
  border: none;
  margin-top: 17px;
  margin-bottom: 17px;
  display: none;
  cursor: pointer;
}

#logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 122px;
  height: 46px;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
#logo img {
  float: left;
}
#logo span {
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 67px;
  margin-left: 9px;
  margin-top: 5px;
}
#mobile-search {
  width: 16px;
  height: 16px;
  background-image: url('img/search.png');
  background-color: transparent;
  display: none;
  cursor: pointer;
}
#mobile-search-form {
  float: left;
  border: none;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: 212px;

display: none;
}
#mobile-search-cross {
  float: left;
  width: 12px;
  height: 12px;
  background-image: url('img/nav-cross.png');
  background-size: 12px 12px;
  margin-top: 19px;
  margin-bottom: 19px;

  display: none;
}


#choice-city {
      border: none;
      color: #448ccb;
      font-size: 16px;
      text-decoration: underline;
      -webkit-text-decoration-style: dashed;
              text-decoration-style: dashed;
      width: auto;
      cursor: pointer;

}

#temperature {
      color: #91919f;
      background-image: url(img/weather.png);
      background-repeat: no-repeat;
      padding-left: 39px;
      padding-top: 5px;
      font-size: 16px;

}

#search {
      position: relative;
      border-radius: 20px;
      background-color: #f3f3f3;
      width: 281px;
      height: 35px;
}
#search-form {
      border: none;
      background: transparent;
      width: 85%;
      height: 100%;
      padding-left: 21px;
      border-radius: 20px;
}
input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
 }
input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
 }
 input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
 }

#search button {
      background-image: url(img/search-icon.png);
      width: 16px;
      height: 16px;
      background-size: cover;
      border: none;
      position: absolute;
      right: 20px;
      top: 25%;
      cursor: pointer;

}


button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#page-nav {
      min-height: 70px;
      display: flex;
      align-items: center;
}
#flex-page-nav {
  width: 100%;
}
#menu {
      font-size: 16px;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      max-width: 95%;
      justify-content: space-between;
      flex-wrap: wrap;
}
#main, #polite, #social, #ec, #in-world, #incidents, #sport, #sience, #turism {
      float: left;
      -webkit-text-decoration-line: none;
              text-decoration-line: none;
      color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
      /* padding-top: 22px; */
      /* margin-left: 34px; */
      display: inline-block;
      margin: 10px 10px;
}
#li1 {
      /* margin-left: 0; */
}
#li2 {
      /* margin-left: 38px; */
}
#li8 {
      /* margin-left: 37px; */
}

#shadow {
      margin: 0;
      padding: 0;
      height: 20px;
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f9f9f9));
      background: -o-linear-gradient(top, #f1f1f1, #f9f9f9);
      background: linear-gradient(to bottom, #f1f1f1, #f9f9f9);
}
#info {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #91919f;
  padding-bottom: 40px;
  padding-top: 25px;
  padding: 25px 25px 40px;
  font-size: 15px;
}

.real-time {
  background-image: url(img/icon-time.png);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 22px;
}
#temperature2 {
      background-image: url(img/weather.png);
      background-repeat: no-repeat;
      padding-left: 39px;
      padding-top: 5px;
      /* font-size: 16px; */
}

#central-container{
      padding-top: 0px;
      background-color: #f9f9f9;
      /*background-image: url('img/central%20bg%20top.png');
      background-repeat: repeat-x;*/

}
      #central-container .fixed-container {
            overflow-y: hidden;
      }
      .central-flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: start;
            align-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }
#column-left {
      background-color: #ffffff;
      -ms-flex-preferred-size: 250px;
          flex-basis: 250px;
      min-width: 250px;
}
      .news-item {
            padding-left: 18px;
            margin-bottom: 28px;
          height: 81px;
      }
      .news-item-text {
            margin-bottom: 20px;
            font-size: 14px
      }
      .news-item-props {
            font-size: 12px;
      }
            .news-item-props a {
                  color: #91919f;
                  text-decoration: none;
            }
            #column-left h3 {
              font-size: 14px;
              font-weight: normal;
            }
.theme-props {
    float: left;
    display: inline-block;
}
            .news-time {
                  padding-left: 15px;
                  background-image: url('img/icon-time.png');
                  background-repeat: no-repeat;
                display: inline-block;
                margin-right: 11px;
            }
.float-right {
    float: right;
    margin-right: 10%;
}
            .news-comment-count {
                  padding-left: 15px;
                 background-image: url('img/icon-comments.png');
                  background-repeat: no-repeat;
                display: inline-block;
            }
            #column-left button {
                  margin-left: 15%;
                  margin-top: 11px;
                  margin-bottom: 24px;
                  font-size: 14px;
                  border-radius: 200px;
                  text-align: center;
                  line-height: 17px;
                  width: 70%;
                  height: 45px;
                  color: #608bc7;
                  border-color: #608bc7;
                  outline: 0;
                  border: 1px solid;
                  cursor: pointer;


}
#column-center {
      /*background-color: green;*/
      max-width: 422px;
      width: 100%;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

}
#central-banner1 {
      max-width: 422px;
      max-height: 294px;
      margin-bottom: 15px;
            position:relative;
}
      .news-central-item {
            padding-left: 22px;
                  color: white;
            position: absolute;
            top: 0;
            left: 0;
            /* max-width: 400px; */
            width: 90%;
            height: 100%;

}
            .news-central-text {
                  margin-top: 4%;
                  display: inline-block;
}
                  .h2-banner {
                        margin: 0;
                        font-size: 24px;
}
            .news-central-theme {
                  margin-top: 24.6%;
                  font-size: 12px;
}
                  .news-central-theme a {
                        color: #ffffff;
                        text-decoration: none;
}
            .news-central-props {
                  font-size: 12px;
                  position: absolute;
                  /* bottom: 14.26%; */
                  margin-top: 4%;
                  width: 90%;
}
      /* .news-central-time {
                  position:absolute;
                  bottom: 0px;
            left: 42.5%;
            background-image: url(img/news-central-time-icon.png);
            background-repeat: no-repeat;
            padding-left: 14px;

} */

.news-central-time {
                  position:absolute;
                  bottom: 0px;
            left: 35%;
            background-image: url(img/news-central-time-icon.png);
            background-repeat: no-repeat;
            padding-left: 15px;
          }

#cremea {
  height: 100%;
  width: 100%;
}

#central-news {
      max-width: 422px;
      height: 504px;
}


.central-news-block {
      width: 201px;
      margin-bottom: 22px;
}
.central-news-block h2 {
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 16px;
      padding: 0;
}

      .news-central1234-props a {
            color: #91919f;
            text-decoration: none;
      }
.news-central1234-props {
      position: relative;
      font-size: 11px;

}
.news-time1234 {
      position: absolute;
      left: 78px;
      top: 0;
      background-image: url(img/time1234.png);
      background-repeat: no-repeat;
      padding-left: 16px;
}
.news-comment-count1234 {
      position: absolute;
      left: 136px;
      top: 0;
      background-image: url(img/comment1234.png);
      background-repeat: no-repeat;
      padding-left: 16px;

}

/* #column-center ul li:not(:first-child){
  height: 239.15px;
  width: 201px;
} */

#news1 {
      float: left;
}
#news2 {
      float: left;
      margin-left: 20px;
}
#news3 {
      float: left;
    /* clear: both; */
}
#news4 {
      float: left;
      margin-left: 20px;
}

.central-news-block img {
  width: 100%;
}




#column-right {
      width: 250px;
}
#column-right :first-child {
      margin-bottom: 20px;
      max-width: 250px;
      height: 400px;

}
#special-news {
      padding-top: 20px;
      padding-bottom: 59px;
}
#special-news img {
      margin-bottom: 0;

}
#pekin {
      float: left;
      max-width: 572px;
      max-height: 325px;
      position:relative
}
#pekin img {
  height: 100%;
  width: 100%;
}
#hot-news {
      float: left;
      max-width: 388px;
      height: 100%;
}
.hot-news-central-props {
  margin-top: 13%;
}
#hot-news-content {
      margin-left: 19px;
      float: left;
}
#hot-h2 {
     padding-left: 0;
      padding-top: 18px;
      padding-bottom: 16px;
      margin-bottom: 16px;
}
.hot-news-item {
      padding-left: 0;
      margin-bottom: 20px;
    height: auto;
}
.hot-news-item-text {
      margin-bottom: 14px;
      font-size: 13px
}
.hot-news-item-props {
      font-size: 11px;
}
#hot-news-central-item {
      width: auto;
}
#hot-clock {
      background-image: url(img/hot-clock.png);
      background-size: 25%
}
.hot-a {
      color: black;
      text-decoration: none;
}
.hot-float-right {
    margin-right: 40%;
}


#footer-background {
    background-color: #00122f;
    min-height: 311px;
    height: 100%;
}
#footer-content, #footer-content a {
    color: white;
    text-decoration: none;
}
.footer-vertical-align {
    padding-top: 57px;
}
#theme-list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    float: left;
    margin-right: 190px;
}
#theme-list li {
    margin-bottom: 20px;
}
#mobile-theme-list {
  display: none;
}

#footer-links {
    float: left;
    margin-right: 156px;
}
#footer-links li {
    margin-bottom: 19px;
}



#footer-contacts-fix {
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
    height: 46px;
    -webkit-column-width: 46px;
       -moz-column-width: 46px;
            column-width: 46px;
    margin-bottom: 42px;
}
#li-vk {
    width: 46px;
    height: 46px;
    background-image: url(img/footer-vk.png);
    background-repeat: no-repeat;
    border-radius: 200px;
    cursor: pointer;

}
#li-facebook {
    width: 46px;
    height: 46px;
    background-image:url(img/footer-facebook.png);
    background-repeat: no-repeat;
}
#li-twitter {
    width: 46px;
    height: 46px;
    background-image: url(img/footer-twitter.png);
    background-repeat: no-repeat;
}
#li-instagramm {
    width: 46px;
    height: 46px;
    background-image: url(img/footer-instagramm.png);
}
#contacts {
    float: left;
}
 #tel, #email{
    margin-bottom: 31px;
     font-size: 18px;
}
#tel {
    background-image: url(img/footer-tel.png);
    background-repeat: no-repeat;
    padding-left: 29px;
}
#email {
    background-image: url(img/footer-email.png);
    background-repeat: no-repeat;
    padding-left: 29px;
}
#footer-box {
    min-height: 260px;
    border-bottom: 1px solid #26354e;
}
#footer-urid {
    color: #727882;
    font-size: 14px;
    text-align: center;
    min-height: 50px;
}
#footer-urid div {
    margin-top: 15px;
}
footer {
    overflow: hidden;

}
#mobile-nav-shadow {
  margin: 0;
  padding: 0;
  height: 15px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f9f9f9));
  background: -o-linear-gradient(top, #f1f1f1, #f9f9f9);
  background: linear-gradient(to bottom, #f1f1f1, #f9f9f9);
  background-repeat: no-repeat;
  display: none;
}
#popup-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  max-width: 100%;
  background-color: #f9f9f9;
  padding: 7px 25px;
  z-index: 10;
  float: left;
  /* margin: 40px auto; */
  display: none;
}
#popup {
  width: 100%;
  height: 100%;
  max-width: 100%;
  /* background-color: white; */
  /* padding: 7.81%; */
  /* margin: 40px auto; */
}
#popup li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  /* padding: 16px 0; */
  padding-top: 11px;
  border-bottom: 1px solid #ebebeb;
  font-size: 18px;
}
#popup li:first-child{
  height: 35px;
  padding-top: 5px;
}
#popup li a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: block;
}
.togleScroll{
  overflow: hidden;
}

@media (max-width: 962px) {
  .central-flex-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  #column-center {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #info {
    order: -2;
    width: 100%;
  }
  #column-left {
    /* flex-grow: 1; */
  }
}
@media (max-width: 830px) {
  .central-flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #column-center {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (max-width: 674px) {
  #choice-city {
    display: none;
  }
}
@media (max-width: 600px){
  #page-nav , #city , #weather {
    display: none;
  }

  #header {
    height: 50px;
    padding: 0;
  }
  #header .fixed-container {
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
  }
  #flex-header {
    display: block;
    margin: 0;
  }
  #central-container .fixed-container {
    padding: 0;
  }
  #central-flex-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #black-bar {
    height: 50px;
  }
  #black-bar-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #search {
    display: none;
  }
  #logo {
    margin: 12px 11px 12px 29px;
    width: 185px;
    height: 26px;
    float: left;

  }
  #logo img {
    width: 26px;
  }
  #logo span {
    font-size: 13px;
    width: 150px;
  }
  #mobile-nav {
    float: left;
    display: block;

  }
  #mobile-search {
    display: block;
    float: right;
    margin-top: 17px;
    margin-bottom: 17px;
    border: none;
  }

  #news2 , #news4 {
    margin: 0;
  }

  #news1 , #news2 , #news3 , #news4 {
    width: 100%;
  }

  .central-news-block {
    width: 100%;
  }
  .central-news-block h2 , .news-central1234-props {
    padding: 0 25px;
  }
  .news-time1234 , .news-comment-count1234 {
    margin-left: 15px;
  }

  #column-left {
    width: 100%;
  }
  #column-center {
    margin: 0;
    max-width: 600px;
    width: 100%;
  }
  #column-center ul {
    width: 100%;
  }
  #cremea {
    max-width: 600px;
    width: 100%;
  }
  #central-banner1 {
    max-width: none;
    max-height: none;
  }
  .news-central-props , .news-central-theme {
    font-size: 10px;
  }

  .hot-news-central-theme {
    margin-top: 19%;
  }
  .hot-news-central-props {
    margin-top: 7%
  }
  .hot-clock {
    padding-left: 12px;
  }
  .h2-banner {
    font-size: 6vw;
  }
  #info {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer {
    min-height: 800px;
    height: 100%;
  }
  #theme-list {
    margin-right: 10%;
    float: none;
  }
  #theme-list {
    display: none;
  }
  #mobile-theme-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-right: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;
  }
  #mobile-theme-list li {
    margin-bottom: 20px;
  }
  #mobile-theme-list a {
    color: white;
    text-decoration: none;
  }
  #footer-box{
    border-top: 1px solid #26354e;
    height: 480px;
  }
  #footer-links {
    float: none;
    margin-right: 10%;
    margin-bottom: 40px;
  }

}

@media (max-width: 540px)  {
  #datetime{
    display: none;
  }
}
@media (max-width: 498px) {
  #column-left {
    width: 100%;
    flex-basis: none;
    -ms-flex-preferred-size: none;
    min-width: 100%;
  }
}
@media (max-width: 400px)  {
  #black-bar h1 {
    font-size: 14px;
  }
}
@media (max-width: 332px)  {
#black-bar h1 {
  font-size: 13px;
}
}
@media (max-width: 320px){
  .h2-banner {
    font-size: 18px;
  }

}
